
body {
    background-color: navajowhite;
    color: firebrick;
    font-family: Arial, sans-serif; 

   
}

.recipe-header{
    display: block;
    border: solid brown ;
    background-color: brown;
    color:navajowhite ;
    padding: auto;
}

.recipe-page{
    border: 2px solid brown;
    box-sizing: border-box;
    margin: 30px;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 20px;
    
}
.recipe-list{
    display: block;
    font-size: 15px;
    
}
#first-recipe{
    margin-bottom: 75px;
    margin-right: 250px;
   
}
#second-recipe{
    margin-bottom: 75px;
    margin-right: 230px;
}

#third-recipe{
    margin-right: 240px;

}

/* Styling for h1 in all HTML files */
h1 {
    font-size: 28px;
    margin-bottom: 20px; 
}


/* Styling for ramen.html */
body#ramen {
    background-color: #002C54; 
    color: #FDF6F6;
    
}

/* Styling for  h1 in ramen.html */
body#ramen h1 {
    color:  #002C54; 
    background-color: white;
}

/* Styling for onigiri.html */
body#onigiri {
    background-color: #31473A;
    color: #EDF4F2; 
}

/* Styling for  h1 in onigiri.html */
body#onigiri h1 {
    color: #EDF4F2; 
}

/* Styling for tempura.html */
body#tempura {
    background-color:#ffbb98;
    color: red;
}

/* Styling for  h1 in tempura.html */
body#tempura h1 {
    color: red;
}
body#tempura h4{
    text-align: center;
}

body#tempura ul{
    text-align: center;
}
